/* Import fonts from Google */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Libre+Franklin|Work+Sans');

/* Full-Page Formatting */

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/* Header formatting */

header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background-color: darkslategray;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    height: 14em;
    max-width: 64em;
    background-image: url("../images/jimmy-headshot-min-header-mobileview.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

/* .headshot-image {
    max-width: 100%;
    max-height: auto;
} */


body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    max-width: 64em;
    font-family: 'Work Sans', sans-serif;
}

ul {
    display: flex;
    flex-direction: column;
}

.nav-content {
    flex-direction: row;
}

h1 {
    /* margin: 2em; */
    font-size: 27px;
    height: 4em;
    width: 10em;
    padding: 0em 0em 0em 1em;
}

.navlink-mobile {
    padding: 0em 1em;
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 2em;
    font-size: 14px;
    width: 100%;
}

.job-desc li {
    color: lightslategray;
}

/* .header-title {
    display: flex;
    align-items: start;
} */

/* Main content formatting */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 2em;
}

h2 {
    margin: 1.2em;
}

h3 {
    margin: 20px 0px;
    font-size: 30px;
}

h4 {
    margin: 5px 0px;
    font-size: 20px;
}

.lead-para {
    max-width: 20em;
}

.education {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 20em;
}
.education-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 10em;
}
.employment {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.employment-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
}

#edu1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.job-desc {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.job-title {
    font-weight: bold;
    text-decoration: underline;
    margin: 1em 0em;
}

.para-spacing {
    padding: 1.5em 2em;
    line-height: 32px;
}

#para-spacing {
    padding: 10px 2em;
    line-height: 30px;
}

#edu-spacing1 {
    padding: 5px;
    line-height: 25px;
}

#edu-spacing2 {
    width: 10em;
}

#job-title-date {
    text-decoration: none;
    margin: .2em 0em;
}

.header-title {
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 0px 10px;
    margin: .5em 0em 0em .5em;
    font-size: 40px;
    color: black;
    text-decoration: none;
}

/* Tablet Formatting */

@media only screen and (min-width: 401px) and (max-width: 960px) {
    
    header {
        /* height: 14em; */
        height: 27em;
        background-image: url("../images/jimmy-headshot-min-desktop2.jpg");
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    h1 { 
        font-size: 27px;
    }

    .header-title {
        background-color: whitesmoke;
        border-radius: 30px;
        padding: 0px 10px;
        margin: 1.5em 0em 0em 2em;
        font-size: 40px;
        color: black;
        text-decoration: none;
    }
    
    .navlink-mobile {
        padding: 0em 1em;
    }
    
    .lead-para {
        max-width: 30em;
    }

    .job-desc {
        padding: 0 50px;
    }

}

/* Desktop Formatting */

@media only screen and (min-width: 961px) {

    .navlink-mobile {
        padding: 0em 4em;
    }

    body {
        margin: 0em auto;
        max-width: 80em;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        width: 64em;
        font-size: 16px;
    }
    header {
        margin: 0em 2em;
        height: 43em;
        background-image: url("../images/jimmy-headshot-min-desktop2.jpg");
        background-size: 100% auto;
        background-repeat: no-repeat;
        max-width: 100%
    }
    
    h1 {
        font-size: 40px;
        /* margin: 1.5em 6em; */
    }

    .header-title {
        background-color: whitesmoke;
        border-radius: 30px;
        padding: 0px 10px;
        margin: 2em 0em 0em 2em;
        font-size: 40px;
        color: black;
        text-decoration: none;
    }

    main {
        margin: 0em 2em 2em 2em;
    }

    .lead-para {
        max-width: 64em;
    }

    ul {
        display: flex;
        flex-direction: row;
    }

    .education {
        height: 14em;
    }

    .education-title {
        margin: 0em 4em;
    }

    #edu1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #all-edu-group {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .job-desc {
        padding: 0 100px;
    }

}