/* Import fonts from Google */
@import url('https://fonts.googleapis.com/css?family=Exo+2|Rajdhani|Roboto:300');

/* Full-Page Formatting */

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 64em;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Exo 2', sans-serif;
}
h2, h3, h4, h5, h6 {
    font-family: 'Rajdhani', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #CDA34F;
    font-weight: bold;
}

.text-link {
    text-decoration: underline;
}

/* Header Format */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: steelblue;
    color: white;
    max-width: 64em;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.header-title {
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 0px 10px;
    margin: 10px 20px 10px -32px;
    font-size: 40px;
    color: black;
    text-decoration: none;
}

#icon-tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#icon-tagline3 {
    display: none;
}

.social-bar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5em;
    margin: 10px;
}

.header-social-img {
    width: 29px;
    height: 29px;
}

.tagline {
    font-size: 21px;
    padding: 1em 0em;
}

#hamburger-nav-icon {
    position: fixed;
    top: 15px;
    right: 15px;
}

.menu-img {
    height: 30px;
    width: 30px;
    background-color: steelblue;
    border-radius: 16px;
}

/* Nav bar */

nav {
    display: flex;
    align-items: center;
    background-color: steelblue;
}

.nav-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0px;
}

.nav-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navlink-mobile {
    padding: 0em 1em;
    color: white;
    text-decoration: none;
    font-size: 27px;
}

.toggle-main-nav2 {
    display: none;
}

.toggle-nav-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    color: whitesmoke;
    font-weight: bold;
}

.ignore-nav-icon {
    display: none;
}

.js-nav-build {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 14em;
    height: 2em;
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

/* h1, h2, h3, h4 */

h1 {
    font-size: 27px;
}

h2 {
    margin: 1.2em;
}

h3 {
    margin: 20px 0px;
    font-size: 30px;
}

h4 {
    margin: 5px 0px;
    font-size: 20px;
}

/* Main content formatting */

/* images */

.headshot {
    max-width: 100%;
    padding: 10px 0px;
}

.introduction-div {
    display: flex;
    width: 100%;
    margin: 0em;
}

.introduction-title {
    margin: 1em 1em 0em 1em;
    font-size: 36px;
}

#intro-paragraph {
    font-size: 22px;
}

.offer-section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
}

.para-spacing-offer {
    margin: 2px 0px;
    line-height: 27px;
}

#offer-sub-point {
    padding: 5px 20px;
}

.offer-bottom-line {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 0px 0px 15px 0px;
}

/* Style  the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #cda34f;
    color: white;
    width: 7em;
    border: none;
    outline: none;
    font-size: 15px;
    display: flex;
    justify-content: center;
    border-radius: 14px;
}

.collapsible:after {
    /* content: '\02795'; /* Unicode character for "plus" sign */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

/* .active:after {
    content: "\2796"; /* Unicode character for "minus" sign
} */

.active, .collapsible:hover {
    background-color: steelblue;
    color: #CDA34F;
}

/* Style the collapsible content. hidden by default */
.expand-text {
    /* padding: 0 10px; */
    display: flex;
    overflow: hidden;
    background-color: #f5f3e6;
    flex-direction: column;
    align-items: center;
    max-height: 6em;
    transition: max-height 0.5s ease-out;
    max-width: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 2em;
    background-color: #E9E7DA;
}

/* article/blog post formatting */
.article-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f5f3e6;
    margin: 5px;
    padding: 0px 10px;
}

h2.article-title {
    font-size: 30px;
    margin: 10px 30px;
}

.article-category {
    font-size: 10px;
    margin: 5px;
}

.lead-para {
    max-width: 20em;
}

.education {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 20em;
}
.education-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 10em;
}
.job-desc li {
    color: lightslategray;
}

.job-spacing {
    line-height: 32px;
    color: lightslategray;
    max-width: 50em;
    text-align: left;
    padding: 1em 4em;
}

.employment {
    display: flex;
    flex-direction: column;
    background-color: #cda34f;
}

.employment-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
}

#edu1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.job-desc {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.job-title {
    font-weight: bold;
    text-decoration: underline;
    margin: 1em 0em;
}

.para-spacing {
    padding: 1.5em 2em;
    line-height: 32px;
    max-width: 100%;
}

.para-spacing2 {
    padding: 0em 2em;
    line-height: 32px;
    max-width: 100%;
}

#para-spacing {
    padding: 10px 2em;
    line-height: 30px;
}

.para-spacing-work {
    padding: 1.5em 2em;
    line-height: 27px;
    max-width: 100%;
}

#para-spacing-work {
    padding: 1.5em 2em;
    line-height: 27px;
    max-width: 100%;
}

#edu-spacing1 {
    padding: 5px;
    line-height: 25px;
}

#edu-spacing2 {
    width: 10em;
}

#job-title-date {
    text-decoration: none;
    margin: .2em 0em;
}

input {
    cursor: pointer;
    height: 20px;
    width: 30px;
}

#check {
    position: relative;
    top: 25px;
    left: 60px;
    opacity: 0;
}

#job-title-visibility {
    display: none;
}

.intro-about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* projects section */
.website-screenshot-container1 {
    display: none;
}
.website-screenshot-container2 {
    display: none;
}
.website-screenshot-container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.web-screenshot-title {
    display: flex;
}

.website-screenshot-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: ridge;
    margin: 2em 0em;
    max-width: 100%;
}

.project-desc-para {
    margin: 10px 50px;
}

.project-img1 {
    width: 320px;
}

.project-synopsis {
    display: flex;
    flex-direction: column;
    max-width: 50em;
}

.contact-me-blurb {
    margin: 2em .5em;
}

.article-date {
    font-style: italic;
    font-size: 14px;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    font-size: 7px;
    flex-direction: row-reverse;
    align-items: center;
    background-color: gainsboro;
}

.icon-cred {
    display: flex;
}

.social-bar-footer {
    display: flex;
    width: 12em;
    margin: 10px 15px;
    justify-content: space-between;
}

.footer-social-img {
    display: flex;
    width: 29px;
    height: 29px;
}

#contact-page {
    height: 33em;
}

.contact-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}


/********* Tablet Formatting ***************/

@media only screen and (min-width: 415px) and (max-width: 960px) and (min-height: 400px) {
    /* Header Format */

    header {
        flex-direction: column;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .tagline {
        font-size: 27px;
    }

    .icon-tagline {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .header-title {
        background-color: whitesmoke;
        border-radius: 30px;
        padding: 0px 10px;
        margin: .5em 0em 0em 1em;
        font-size: 40px;
        color: black;
        text-decoration: none;
    }

    /* Nav Bar */

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 2em;
        max-width: 100%;
        font-size: 14px;
    }

    .nav-container {
        display: flex;
        justify-content: center;
        width: 100%;
        position: sticky;
        top: 0px;
    }

    .nav-content {
        flex-direction: row;
        height: 5em;
    }

    .toggle-nav-icon {
        display: none;
    }

    .navlink-mobile {
        display: flex;
        padding: 0em 1em;
        font-size: 18px;
    }

    .toggle-main-nav2 {
        display: flex;
    }

    /* h1, h2, h3, h4 */

    h1 { 
        font-size: 27px;
    }

    /* Main Content Formatting */
    
    .lead-para {
        max-width: 30em;
    }

    .job-desc {
        padding: 0 50px;
    }

    .intro-about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro-about-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 30em;
        padding: 0px 10px;
    }

    /* projects section */
    .website-screenshot-container1 {
        display: none;
    }
    .website-screenshot-container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .website-screenshot-container3 {
        display: none;
    }

    .website-screenshot-section {
        padding: 0px 5px;
    }

    .project-img1 {
        width: 460px;
    }

    /* images */
    .headshot {
        width: 380.836px;
        height: 433.711px;
        /* original width: 507.781px; original height: 578.281px; i took 1/4th of that */
    }

    .headshot-container {
        margin: 0em 0em;
    }

    /* footer */
    .icon-cred {
        display: none;
    }
}

/************* Desktop Formatting ****************/

@media only screen and (min-width: 961px) {

    /* Header Formatting */

    header {
        flex-direction: column;
        background-size: 100% auto;
        background-repeat: no-repeat;
        max-width: 100%;
    }

    .tagline {
        font-size: 40px;
    }

    .icon-tagline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .header-title {
        background-color: whitesmoke;
        border-radius: 30px;
        padding: 0px 10px;
        margin: .5em 0em 0em 1em;
        font-size: 40px;
        color: black;
        text-decoration: none;
    }

    /* Nav bar */
    
    .navlink-mobile {
        display: flex;
        padding: 0em 4em;
        font-size: 18px;
    }
    
    nav {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        max-width: 100%;
        font-size: 16px;
    }
    
    ul {
        display: flex;
        flex-direction: row;
    }

    .toggle-nav-icon {
        display: none;
    }

    .toggle-main-nav2 {
        display: flex;
    }

    .nav-content {
        flex-direction: row;
        height: 5em;
    }

    /* h1, h2, h3, h4 */

    h1 {
        font-size: 40px;
    }
    

    /* Main Content Formatting */
    
    body {
        margin: 0em auto;
        max-width: 140em;
    }


    .headshot-container {
        margin: 0em 0em;
    }

    .headshot {
        width: 380.836px;
        height: 433.711px;
        /* original width: 507.781px; original height: 578.281px; i took 1/4th of that */
    }

    .intro-about {
        display: flex;
    }

    .intro-about-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30em;
        padding: 0px 45px;
    }

    #para-spacing-work {
        padding: 0em 2em 1.5em 2em;

    }

    .lead-para {
        max-width: 64em;
    }

    .education {
        height: 14em;
    }

    .education-title {
        margin: 0em 4em;
    }

    #edu1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #all-edu-group {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .job-desc {
        padding: 0 100px;
    }

    /* projects section */
    .website-screenshot-container1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .website-screenshot-container2 {
        display: none;

    }
    .website-screenshot-container3 {
        display: none;
    }

    .project-img1 {
        /* 1279x613 */
        /*width: 959.25px;*/
        width: 879.25px;
        height: 459.75px;
    }

    /* images */
    .headshot {
        max-width: 100%;
        padding: 70px 0px;
    }

    /* footer */
    .icon-cred {
        display: none;
    }

}