/* Import fonts from Google */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Libre+Franklin|Work+Sans');

/* Full-Page Formatting */

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/* Header formatting */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkslategray;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    height: 14em;
}

body {
    width: 100%;
    font-family: 'Work Sans', sans-serif;
}

ul {
    display: flex;
    flex-direction: column;
}

.nav-content {
    flex-direction: row;
}

h1 {
    margin: 2em;
    font-size: 27px;
}

.navlink-mobile {
    padding: 0em 1em;
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav {
    height: 2em;
    font-size: 14px;
}

/* Main content formatting */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 2em;
}

h2 {
    margin: 1.2em;
}

.lead-para {
    max-width: 20em;
}

.education {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.education-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 9em;
}
.employment {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.employment-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Tablet Formatting */

@media only screen and (min-width: 401px) and (max-width: 960px) {
    
    header {
        height: 14em;
    }

    h1 { 
        font-size: 27px;
    }
    
    .navlink-mobile {
        padding: 0em 1em;
        font-size: 15px;
    }
    
    .lead-para {
        max-width: 30em;
    }

}

/* Desktop Formatting */

@media only screen and (min-width: 961px) {

    .navlink-mobile {
        padding: 0em 4em;
    }

    body {
        margin: 0em auto;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        width: 64em;
        font-size: 16px;
    }
    header {
        margin: 0em 2em;
        height: 14em;
    }
    
    h1 {
        font-size: 40px;
        margin: 1.5em 2em;
    }
    main {
        margin: 0em 2em;
    }

    .lead-para {
        max-width: 64em;
    }

    ul {
        display: flex;
        flex-direction: row;
    }

}