/* Import fonts from Google */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Libre+Franklin|Work+Sans');

/* Full-Page Formatting */

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    max-width: 64em;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

/* Header Format */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: mediumaquamarine;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    /* height: 14em; */
    max-width: 64em;
    /* background-image: url("../images/jimmy-headshot-min-header-mobileview.jpg"); */
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.header-title {
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 0px 10px;
    margin: 10px 20px 10px -32px;
    font-size: 40px;
    color: black;
    text-decoration: none;
}

#icon-tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#icon-tagline3 {
    display: none;
}

.social-bar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
}

.header-social-img {
    width: 29px;
    height: 29px;
}

.tagline {
    font-size: 21px;
    /* width: 9em; */
}

#hamburger-nav-icon {
    position: fixed;
    top: 10px;
    right: 10px;
}

.menu-img {
    height: 30px;
    width: 30px;
    background-color: mediumaquamarine;
    border-radius: 16px;
}

/* .headshot-image {
    max-width: 100%;
    max-height: auto;
} */

/* Nav bar */

nav {
    display: flex;
    align-items: center;
    background-color: mediumaquamarine;
}

.nav-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-content {
    flex-direction: column;
    height: 14em;
    align-items: center;
    justify-content: center;
    /* width: 22em; */
}

.navlink-mobile {
    /* display: none; */
    padding: 0em 1em;
    color: white;
    text-decoration: none;
}

.toggle-main-nav2 {
    display: none;
}

.toggle-nav-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
    font-size: 24px;
    color: whitesmoke;
    font-weight: bold;
}

.ignore-nav-icon {
    display: none;
}

.js-nav-build {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin: 1em 0em; */
    width: 14em;
    height: 2em;
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

/* h1, h2, h3, h4 */

h1 {
    /* margin: 2em; */
    font-size: 27px;
    /* height: 4em; */
    /* width: 10em; */
    padding: 0em 0em 0em 1em;
}

h2 {
    margin: 1.2em;
}

h3 {
    margin: 20px 0px;
    font-size: 30px;
}

h4 {
    margin: 5px 0px;
    font-size: 20px;
}

/* nav {
    display: none;
} */


/* .header-title {
    display: flex;
    align-items: start;
} */

/* Main content formatting */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 2em;
}

.lead-para {
    max-width: 20em;
}

.education {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 20em;
}
.education-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 10em;
}
.job-desc li {
    color: lightslategray;
}

.employment {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.employment-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
}

#edu1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.job-desc {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.job-title {
    font-weight: bold;
    text-decoration: underline;
    margin: 1em 0em;
}

.para-spacing {
    padding: 1.5em 2em;
    line-height: 32px;
}

#para-spacing {
    padding: 10px 2em;
    line-height: 30px;
}

#edu-spacing1 {
    padding: 5px;
    line-height: 25px;
}

#edu-spacing2 {
    width: 10em;
}

#job-title-date {
    text-decoration: none;
    margin: .2em 0em;
}

input {
    cursor: pointer;
    height: 20px;
    width: 30px;
}

#check {
    position: relative;
    top: 25px;
    left: 60px;
    opacity: 0;
}

#job-title-visibility {
    display: none;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    font-size: 10px;
}

/********* Tablet Formatting ***************/

@media only screen and (min-width: 401px) and (max-width: 960px) {
    
    /* Header Format */

    header {
        /* height: 14em; */
        flex-direction: column;
        /* height: 27em; */
        /* background-image: url("../images/jimmy-headshot-min-desktop2.jpg"); */
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .tagline {
        font-size: 27px;
        /* width: 10em; */
    }

    .icon-tagline {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        /* height: 20em; */
    }

    .header-title {
        background-color: whitesmoke;
        border-radius: 30px;
        padding: 0px 10px;
        margin: .5em 0em 0em 1em;
        font-size: 40px;
        color: black;
        text-decoration: none;
    }

    /* Nav Bar */

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 2em;
        max-width: 100%;
        font-size: 14px;
    }

    .nav-content {
        flex-direction: row;
    }

    .toggle-nav-icon {
        display: none;
    }

    .navlink-mobile {
        display: flex;
        padding: 0em 1em;
    }

    .toggle-main-nav2 {
        display: flex;
    }

    /* h1, h2, h3, h4 */

    h1 { 
        font-size: 27px;
        padding: 1em;
    }

    /* Main Content Formatting */
    
    .lead-para {
        max-width: 30em;
    }

    .job-desc {
        padding: 0 50px;
    }
}

/************* Desktop Formatting ****************/

@media only screen and (min-width: 961px) {

    /* Header Formatting */

    header {
        flex-direction: column;
        /* margin: 0em 2em; */
        /* height: 43em; */
        /* background-image: url("../images/jimmy-headshot-min-desktop2.jpg"); */
        background-size: 100% auto;
        background-repeat: no-repeat;
        max-width: 100%;
        background-color: mediumaquamarine;
    }

    .tagline {
        font-size: 40px;
        /* width: 10em; */
    }

    .icon-tagline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        /* height: 30em; */
    }

    .header-title {
        background-color: whitesmoke;
        border-radius: 30px;
        padding: 0px 10px;
        margin: .5em 0em 0em 1em;
        font-size: 40px;
        color: black;
        text-decoration: none;
    }

    /* Nav bar */
    
    .navlink-mobile {
        display: flex;
        padding: 0em 4em;
    }
    
    nav {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        max-width: 100%;
        font-size: 16px;
    }
    
    ul {
        display: flex;
        flex-direction: row;
    }

    .toggle-nav-icon {
        display: none;
    }

    .toggle-main-nav2 {
        display: flex;
    }

    .nav-content {
        flex-direction: row;
    }

    /* h1, h2, h3, h4 */

    h1 {
        font-size: 40px;
        /* margin: 1.5em 6em; */
        padding: 1em;
    }
    

    /* Main Content Formatting */
    
    body {
        margin: 0em auto;
        max-width: 80em;
    }

    main {
        margin: 0em 2em 2em 2em;
    }

    .lead-para {
        max-width: 64em;
    }

    .education {
        height: 14em;
    }

    .education-title {
        margin: 0em 4em;
    }

    #edu1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #all-edu-group {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .job-desc {
        padding: 0 100px;
    }

}